# Ignore everything in data but not .gitkeep
data/*
!data/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Ignore everything in out but not .gitkeep
out/*
!out/.gitkeep
out/train_test/*
!out/train_test/.gitkeep

# Ignore everything in plots but not .gitkeep
plots/*
!plots/.gitkeep
